{
  "env": {
    "coverage": {
      "presets": [
        "env",
        [
          "latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "react"
      ],
      "plugins": [
        ["istanbul",
        {
        }],
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        "env",
        [
          "latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread"
      ]
    },
    "development": {
      "presets": [
        "env",
        [
          "latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread"
      ]
    }
  }
}
