{
  "presets": [
    "env",
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "env": {
    "coverage": {
      "plugins": [
        "istanbul",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-rest-spread"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread"
      ]
    }
  }
}
