@include component(page-markers) {

  @include part(marker) {
    width: 20px;
    height: 20px;
    background: $palette_a;
    margin: 5px;
    cursor: pointer;

    @include option(active) {
      border: 1px solid $palette_c;
    }
  }
}